---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&lat=38.022751&lon=-104.98484
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.0228,"lon":-104.9848,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623810315,"sunrise":1623757010,"sunset":1623810257,"temp":299.05,"feels_like":299.24,"pressure":1021,"humidity":59,"dew_point":290.43,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.83,"wind_deg":59,"wind_gust":4.78,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1623810360,"precipitation":0},{"dt":1623810420,"precipitation":0},{"dt":1623810480,"precipitation":0},{"dt":1623810540,"precipitation":0},{"dt":1623810600,"precipitation":0},{"dt":1623810660,"precipitation":0},{"dt":1623810720,"precipitation":0},{"dt":1623810780,"precipitation":0},{"dt":1623810840,"precipitation":0},{"dt":1623810900,"precipitation":0},{"dt":1623810960,"precipitation":0},{"dt":1623811020,"precipitation":0},{"dt":1623811080,"precipitation":0},{"dt":1623811140,"precipitation":0},{"dt":1623811200,"precipitati[...]
