---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_KEY>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 17:34:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1658275252"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1059436409"}]}]}'
  recorded_at: Mon, 14 Jun 2021 17:34:06 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623692045,"sunrise":1623670286,"sunset":1623724156,"temp":303.62,"feels_like":302.81,"pressure":1005,"humidity":35,"dew_point":286.44,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":0.89,"wind_deg":131,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1623692100,"precipitation":0},{"dt":1623692160,"precipitation":0},{"dt":1623692220,"precipitation":0},{"dt":1623692280,"precipitation":0},{"dt":1623692340,"precipitation":0},{"dt":1623692400,"precipitation":0},{"dt":1623692460,"precipitation":0},{"dt":1623692520,"precipitation":0},{"dt":1623692580,"precipitation":0},{"dt":1623692640,"precipitation":0},{"dt":1623692700,"precipitation":0},{"dt":1623692760,"precipitation":0},{"dt":1623692820,"precipitation":0},{"dt":1623692880,"precipitation":0},{"dt":1623692940,"precipitati[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.171 TT 0 0.173"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 35992,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "text": [
                        "/works/OL8503198W",
                        "Denver, Co",
                        "OL10909613M",
                        "9780762507849",
                        "0762507845",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1700720295581581317,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL8808821W",
                    "text": [
                        "/works/OL8808821W",
                        "University of Denver Co 2007",
                        "OL8537031M",
                        "150368610",
                        "1427401683",
                        "9781427401687",
                        "College Prowler",
                        "OL3010394A",
                        "College Prowler"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "1427401683",
                        "9781427401687"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3010394A"
                    ],
                    "author_name": [
                        "College Prowler"
                    ],
                    "id_goodreads": [
                        "2985742"
                    ],
                    "publisher_facet": [
                        "College Prowler"
                    ],
                    "_version_": 1700720648496611328,
                    "author_facet": [
                        "OL3010394A College Prowler"
                    ]
                },
                {
                    "key": "/works/OL4437736W",
                    "text": [
                        "/works/OL4437736W",
       [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_KEY>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 17:34:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - succes[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.103 TT 0 0.105"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 606,
            "start": 0,
            "numFoundExact": true,
            "docs": [
    [...]
