---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=YQDo4xrBRyZX9bNMMJij05fbYa_GCyFS7pGMHbobkr4&count=1&query=denver,co%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4ed65ec063c0f2d15cb943ad52d72e7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"i_8vdXROMUQ","created_at":"2021-02-23T00:32:50-05:00","updated_at":"2021-06-12T01:19:58-04:00","promoted_at":null,"width":4100,"height":6150,"color":"#262626","blur_hash":"LYE3MAo~00n#~qozD%jYxae.RjkC","description":"Air
        Freshener Alley + Downtown Denver","alt_description":"blue and green trash
        bin beside brown wooden wall","urls":{"raw":"https://images.unsplash.com/photo-1614057695559-8eeec7124914?ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1614057695559-8eeec7124914?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1614057695559-8eeec7124914?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1614057695559-8eeec7124914?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1614057695559-8eeec7124914?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/i_8vdXROMUQ","html":"https://unsplash.com/photos/i_8vdXROMUQ","download":"https://unsplash.com/photos/i_8vdXROMUQ/download","download_location":"https://api.unsplash.com/photos/i_8vdXROMUQ/download?ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM1NTQ2NDE"},"categories":[],"likes":13,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"gVqrdOZxG4E","updated_at":"2021-06-12T03:01:30-04:00","username":"frankielopez","name":"Frankie
        Lopez","first_name":"Frankie","last_name":"Lopez","twitter_username":null,"portfolio_url":"https://www.stubborn5.com","bio":"i
        really have no idea what i''m doing *** just point and shoot","location":"Tucson,
        AZ","links":{"self":"https://api.unsplash.com/users/frankielopez","html":"https://unsplash.com/@frankielopez","photos":"https://api.unsplash.com/users/frankielopez/photos","likes":"https://api.unsplash.com/users/frankielopez/likes","portfolio":"https://api.unsplash.com/users/frankielopez/portfolio","following":"https://api.unsplash.com/users/frankielopez/following","followers":"https://api.unsplash.com/users/frankielopez/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"stubborn5design/","total_collections":0,"total_likes":106,"total_photos":157,"accepted_tos":true,"for_hire":true},"exif":{"make":"Canon","model":"Canon
        EOS 6D Mark II","exposure_time":"1/400","aperture":"4.0","focal_length":"55.0","iso":640},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":427703,"downloads":867}]'
  recorded_at: Sun, 13 Jun 2021 03:24:01 GMT
recorded_with: VCR 6.0.0
