---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=YQDo4xrBRyZX9bNMMJij05fbYa_GCyFS7pGMHbobkr4&count=1&query=denver,co%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d000eaa563c626a9f6b2972a6da6b37"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"bm3kBBWzhMU","created_at":"2020-03-25T20:05:38-04:00","updated_at":"2021-06-13T21:13:24-04:00","promoted_at":"2020-03-26T11:54:02-04:00","width":5304,"height":6630,"color":"#262626","blur_hash":"LMAwesIpDNRjpeR*VXRjX9azxZoJ","description":null,"alt_description":"cars
        on road between high rise buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1585180636375-a12724686c0f?ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1585180636375-a12724686c0f?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1585180636375-a12724686c0f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1585180636375-a12724686c0f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1585180636375-a12724686c0f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/bm3kBBWzhMU","html":"https://unsplash.com/photos/bm3kBBWzhMU","download":"https://unsplash.com/photos/bm3kBBWzhMU/download","download_location":"https://api.unsplash.com/photos/bm3kBBWzhMU/download?ixid=MnwyMzkxMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjM2Mzg0NTk"},"categories":[],"likes":93,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"O0T_7B_QQqY","updated_at":"2021-06-06T02:59:36-04:00","username":"efran31","name":"Eric
        Francis","first_name":"Eric","last_name":"Francis","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/efran31","html":"https://unsplash.com/@efran31","photos":"https://api.unsplash.com/users/efran31/photos","likes":"https://api.unsplash.com/users/efran31/likes","portfolio":"https://api.unsplash.com/users/efran31/portfolio","following":"https://api.unsplash.com/users/efran31/following","followers":"https://api.unsplash.com/users/efran31/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1578258724994-071929df4a00image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1578258724994-071929df4a00image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1578258724994-071929df4a00image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"efran31","total_collections":0,"total_likes":0,"total_photos":62,"accepted_tos":true,"for_hire":false},"exif":{"make":"SONY","model":"ILCE-7RM3","exposure_time":"1/1000","aperture":"2.5","focal_length":"55.0","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":680554,"downloads":1595}]'
  recorded_at: Mon, 14 Jun 2021 02:40:59 GMT
recorded_with: VCR 6.0.0
